calib_left/
calib_right/
*debug*/
videos/
*measurement/*
__pycache__/
*.pyc
.DS_Store
calib_ss_left/
calib_ss_right/
calib_ss_left_4k/
calib_ss_right_4k/
whole_body_measurement_sidebyside/
whole_body_measurement_sidebyside_hrnet/
archive/
arm_length_measurement/
smpl_measurements/
SMPL/
